#bookDisplay {
    display:grid;  
    grid-area: b;
    gap: 5px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

#header {
   text-align: center; 
   font-size: 40px;
   background-color: #94618E;
   color: #351d36;
   padding: 20px;
   border-radius: 10px;
   grid-area: a;
}

#container {
    display: grid;
    gap: 20px;
    grid-template-columns: 5fr 1fr;
    grid-template-areas: 
        "a a a a a" 
        "b b b c c" 
        "b b b c c" 
}

#add {
    position: fixed;
    bottom: 25px;
    right: 30px;
    border-radius: 50%;
    height: 65px;
    width: 65px;
    font-size: 35px;
    background-color: #94618E;
    color: #351d36;
    cursor: pointer;
    transition: 0.5s ease;
}

body {
    background-color: #F8EEE7;
}

#stats {
    display: grid;
    gap: 0px;
    background-color: #94618E;
    grid-area: c;
    border-radius: 10px;
    padding: 35px;
    height: 325px;
    max-width: 275px;
    min-width: 275px;
    right: 5px;
    top: 130px;
}

.form-popup {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 15px;
}

.form-container {
    display: grid;
    padding-bottom: 100px;
    gap: 15px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 10px;
}

h1 {
    font-size: 20px;
}

.book-box {
    height: 200px;
    width: 300px;
    background-color: #F4DECB;
    border-radius: 10px;
    border: 3px solid #351d36;
    box-shadow: 0px 0px 10px #351d36
}
    

#stats, #header, #add, .form-container {
    border: 3px solid #351d36;
    box-shadow: 0px 0px 10px #351d36;
}

